* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
#title {
  background-color: #2d4059;
  color: #f6f6f6;

  position: absolute;
  top: 30px;
  left: 4%;
}
body {
  font-family: sans-serif;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

button[type="submit"] {
  padding: 8px;
  border-radius: 3px;
  background-color: #ffb400;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: bisque;
}

#result {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}
.navigation {
  width: 100%;
  background-color: #2d4059;
  height: 100px;
  margin: 0;
  padding: 0;
}
#username,
#password {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 5px;
}
